body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
select,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#error {
    color: red;
    margin-bottom: 20px;
}

#paycheckResult {
    display: none;
    margin-top: 20px;
}

#paycheckResult label,
#paycheckResult span {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

form div label {
    display: inline-block;
    margin-right: 10px;
    text-align: right;
}

form div input[type="radio"],
form div input[type="checkbox"] {
    margin-right: 5px;
}
